
 /* Ponizszy kod nalezy umiescic na koncu oryginalnego sfinia.css */

@media (max-width: 760px) {
   
  /* Ustawienia ogolne */

:root {
    --maxTableWidth: 100%;
    --maxTdWidth: 100%;
    --maxSpanWidth: 100%;
    --maxImgWidth: 80vw;
    --maxTestWidth: 100px;
}
  * {word-break: break-word !important;} 
  
  img {max-height: 80vh}
  
 body, div, table, tr, th, td, span {max-width: 100%;}
 td:not(table.forumline td) {display: block;}
 
  span.postbody img {max-width: 98%}
  span.postbody span {min-width: 8px !important; display: inline}
  
  span.mainmenu a {display: block; font-size: 10pt} 
  span.mainmenu img {height: 20px; width: 20px}
  table tr td:only-child {text-align: left}
 
  td.bodyline > table:not(table.forumline) > tbody > tr > td:first-of-type {text-align: center}
  td.bodyline > table:not(table.forumline) > tbody > tr > td[valign="middle"]:first-of-type {text-align: left}
  
  a.shortcuts-link {font-size: 10pt !important;}
  
  select {display:block; min-width: 50px; max-width: 300px}
  input {min-width: 25px; max-width: 200px; text-indent: 0px; padding: 3px}
  textarea {max-width: 88vw}
  
  div.DoRiA {display: none}
  ins {display: none !important;} 
  
  tr, td, th {height: auto !important; min-height: 14px !important;}
  
  /* Strona glowna i Spis kategorii */

  td.bodyline > table.forumline[cellpadding="2"]
    tr td {display: none}
    
  td.bodyline > table.forumline[cellpadding="2"] 
    tr:nth-child(1) {display: none;}
   td.bodyline > table.forumline[cellpadding="2"]
    tr td:nth-child(2) {display: block; height: auto; min-height: 50px; padding-top: 8px}
  td.bodyline > table.forumline[cellpadding="2"]
    tr td:nth-child(5) {display: block}

  td.bodyline > table.forumline[cellpadding="2"]
    tr td:nth-child(2) br {display: none}
  td.bodyline > table.forumline[cellpadding="2"]
    tr td:nth-child(2) span {display: block; margin-top: 4px; width: auto; max-width: 100%}
  td.bodyline > table.forumline[cellpadding="2"]
    tr td:nth-child(2) span.forumlink {background-color: #DDD; padding: 4px}
  
  td.bodyline > table.forumline[cellpadding="2"]
    tr td[align=center]::before {content: "Ostatni post: "; font-size: 8pt; font-weight: bold}
  td.bodyline > table.forumline[cellpadding="2"]
    tr td:nth-child(5) br {display: none}
  td.bodyline > table.forumline[cellpadding="2"]
    tr td:nth-child(5) a {margin-left : 10px; font-size: 9pt}
  td.bodyline > table.forumline[cellpadding="2"]
    tr td:nth-child(5) a img {height: 14px}
  
  td.bodyline > table.forumline[cellpadding="2"]
    tr td.rowpic {display: none}
  td.bodyline > table.forumline[cellpadding="2"]
    tr td.catLeft {display: block; text-align: center; margin-top: 4px}
  td.bodyline > table.forumline[cellpadding="2"]
    tr td.catLeft span.cattitle {padding: 4px}  
   
  
    /* Spis grup */
  
  td.bodyline > table.forumline[cellpadding="4"]
     td:nth-child(1) {display: block}
  td.bodyline > table.forumline[cellpadding="4"]
     td:nth-child(2)[align="right"] {display: block}
  
  td.bodyline > table.forumline[cellpadding="4"]
     select {margin-right: 4px}
  
   td.bodyline > table.forumline[cellpadding="4"]
     th.thHead[colspan="2"] {display: table-cell}

  /* Spis forow */

   form[action*=","] table.forumline[cellpadding="4"]  
	  td {display: table-cell; text-align: left}
  
  form[action*=","] table.forumline[cellpadding="4"]  
	  tr td {height: auto !important; min-height: 14px !important}

  form[action*=","] table.forumline[cellpadding="4"]
	  tr:nth-child(1) {display: none;}
	form[action*=","] table.forumline[cellpadding="4"]  
	  tr td {display: none}
  form[action*=","] table.forumline[cellpadding="4"]
	  tr td:nth-child(2) {display: block}
  form[action*=","] table.forumline[cellpadding="4"]
	  tr td:nth-child(4) {display: block}
  form[action*=","] table.forumline[cellpadding="4"]
	  tr td:nth-child(6) {display: block; margin-bottom: 4px}
	  
  form[action*=","] table.forumline[cellpadding="4"]
	  td.row1[width="100%"]:nth-child(2) {background-color: #ded; border-bottom: solid 1px lightgray; border-top: solid 1px silver}
  form[action*=","] table.forumline[cellpadding="4"]
	  td:nth-child(6) {border-bottom: solid 1px silver}

	form[action*=","] table.forumline[cellpadding="4"]  
	  tr td:nth-child(2) span {display: block; width: auto; max-width: 100%}
 
  form[action*=","] table.forumline[cellpadding="4"]
	  tr td a.topictitle {font-size: 10pt}
	 
  form[action*=","] table.forumline[cellpadding="4"]
	  tr td:nth-child(6) span.postdetails a {margin-left: 10px; font-size: 9pt}
  form[action*=","] table.forumline[cellpadding="4"]
	  tr td:nth-child(6) span.postdetails a {margin-left: 10px; font-size: 9pt}
  form[action*=","] table.forumline[cellpadding="4"]
	  tr td:nth-child(6) img {width: 30px; height: 15px}
	
  form[action*=","] table.forumline[cellpadding="4"]
	  tr td:nth-child(4)::before {content: "Autor: "; font-size: 8pt; font-weight: bold}
  form[action*=","] table.forumline[cellpadding="4"]
	  tr td:nth-child(6) span::before {content: "Ostatni post: "; font-size: 8pt; font-weight: bold}
	form[action*=","] table.forumline[cellpadding="4"]  
	  tr td:nth-child(6) {background-color: #f7f787}
  
	form[action*=","] table.forumline[cellpadding="4"]  
	  td {width: auto; min-width: 100px}     
   
  /* Tabela subforow */
  
  form[action*=","] table.forumline[cellpadding="2"]  
    th {display: none} 
  
  form[action*=","] table.forumline[cellpadding="2"]  
    td.row1:nth-child(1) {display: none} 
    
   form[action*=","] table.forumline[cellpadding="2"]  
    td.rowpic {display: none} 
  
  form[action*=","] table.forumline[cellpadding="2"]  
    td {display: block; text-align: left}
  
    form[action*=","] table.forumline[cellpadding="2"]  
    td.catLeft {text-align: center; margin-bottom: 4px}
  
   form[action*=","] table.forumline[cellpadding="2"]  
    td.row1:nth-child(2) {padding-top: 4px} 
   form[action*=","] table.forumline[cellpadding="2"]  
    td.row2:nth-child(5) {padding-bottom: 8px} 
  
  form[action*=","] table.forumline[cellpadding="2"]  
    td.row2:last-child {border-bottom: 1px solid lightgray}
 
   form[action*=","] table.forumline[cellpadding="2"]  
    td.row2:nth-child(3) span.gensmall::before {content: "Tematy: "}
   form[action*=","] table.forumline[cellpadding="2"]  
    td.row2:nth-child(4) span.gensmall::before {content: "Posty: "}
   form[action*=","] table.forumline[cellpadding="2"]  
    td.row2:nth-child(5) span.gensmall::before {content: "Ostatni post: "}
  
    form[action*=","] table.forumline[cellpadding="2"]  
    td.row2:nth-child(5) img {width: 30px; height: 15px}
  
  /* Widok postow */
     
  td.bodyline > table.forumline[cellpadding="3"]
     th[class^="th"] {display: none}
  td.bodyline > table.forumline[cellpadding="3"]
		 td.row1 {display: block; width: auto; height: auto}
  td.bodyline > table.forumline[cellpadding="3"]
		 td.row2 {display: block; width: auto; height: auto}
	
  td.bodyline > table.forumline[cellpadding="3"]
		 tr[align="right"] > td[colspan="2"].catHead {display: none;}
  td.bodyline > table.forumline[cellpadding="3"]
		 td.catBottom {height: 80px}
  td.bodyline > table.forumline[cellpadding="3"]
		 td.catBottom table {width: 100%;}
  td.bodyline > table.forumline[cellpadding="3"]
		 td.catBottom input {margin-top: 4px}
	
  td.bodyline > table.forumline[cellpadding="3"]
		 > tbody > tr > td[class^="row"][width="150"][valign="top"][align="left"]:first-child 
		  {display: block; text-align: left; width: 99%; vertical-align: top; background-color: #ded; border-bottom: 1px solid lightgray}
 
  td.bodyline > table.forumline[cellpadding="3"]
		 > tbody > tr > td[class^="row"][width="150"][valign="top"][align="left"]:first-child span.name {font-size: 10pt}
  td.bodyline > table.forumline[cellpadding="3"]
		 > tbody > tr > td[class^="row"][width="150"][valign="top"][align="left"]:first-child span.postdetails {display: inline}
  
	td.bodyline > table.forumline[cellpadding="3"]	 
		 > tbody > tr > td[class^="row"][width="150"][valign="top"][align="left"]:first-child span.postdetails br {display: none}
  td.bodyline > table.forumline[cellpadding="3"]
		 > tbody > tr > td[class^="row"][width="150"][valign="top"][align="left"]:first-child span.postdetails br:nth-of-type(1) {display: block}
  td.bodyline > table.forumline[cellpadding="3"]
		 > tbody > tr > td[class^="row"][width="150"][valign="top"][align="left"]:first-child span.postdetails br:nth-of-type(7) {display: block}
 td.bodyline > table.forumline[cellpadding="3"] 
		 > tbody > tr > td[class^="row"][width="150"][valign="top"][align="left"]:first-child span.postdetails br:nth-of-type(8) {display: block}
  
  td.bodyline > table.forumline[cellpadding="3"]
		 img[title="Post"] {width: 25px; height: 20px}
	
  td.bodyline > table.forumline[cellpadding="3"]
		 span.postdetails input.liteoption {display: none} 
  td.bodyline > table.forumline[cellpadding="3"]
		 span.postdetails img {display: inline} 
  td.bodyline > table.forumline[cellpadding="3"]
		 span.postdetails form {display: inline}
	
  td.bodyline > table.forumline[cellpadding="3"]
		 tbody[id] {display: none} 
  td.bodyline > table.forumline[cellpadding="3"]
		 span.postdetails span.gen {display: block} 

  td.bodyline > table.forumline[cellpadding="3"]
		 td.row2[colspan="2"]:first-child {display: none} 
  
   td.bodyline > table.forumline[cellpadding="3"]:nth-of-type(4)
     td.row2[colspan="2"]:first-child::before {content: "Ankieta: "; font-size: 10pt}  
  
  td.bodyline > table.forumline[cellpadding="3"]:nth-of-type(4) 
     td.row2[colspan="2"]:first-child {display: block}  
  
  td.bodyline > table.forumline[cellpadding="3"] 
  table[width="90%"][cellpadding="3"][align="center"] {width: 96%}
  
  td.bodyline > table.forumline[cellpadding="3"] 
    table[cellpadding="4"] table[cellpadding="2"] span.gen {word-break: normal !important; min-width: 36px}
  
  td.bodyline > table.forumline[cellpadding="3"] 
  table td[width="100%"] {display: block}
  td.bodyline > table.forumline[cellpadding="3"] 
  table td[valign="top"][nowrap="nowrap"] {display: block; text-align: right}
  
  /* Edycja posta i Edycja PM */
  
 form[name="post"] table.forumline[cellpadding="3"]
  > tbody > tr > td {display: block; width: 99%}
  
 form[name="post"] table.forumline[cellpadding="3"]
  input[name="subject"] {width: 98%; min-width: 88vw}
  
  form[name="post"] table.forumline[cellpadding="3"]
  td[colspan="4"] span.nav {display: inline}
  
  form[name="post"] table.forumline[cellpadding="3"] 
  table[width="450"] {max-width: 380px !important;}
  
  form[name="post"] table.forumline[cellpadding="3"] 
    span.genmed {margin: 0; padding: 0}
  form[name="post"] table.forumline[cellpadding="3"] 
    input[type="button"] {margin: 0; padding: 0}

  form[name="post"] table.forumline[cellpadding="3"]
    input.helpline {min-width: 88vw}
  
  form[name="post"] table.forumline[cellpadding="3"] table[cellpadding="5"]
    tr {display: contents}
  form[name="post"] table.forumline[cellpadding="3"] table[cellpadding="5"]
  td {max-height: 20px; padding : 3px}
  form[name="post"] table.forumline[cellpadding="3"] table[cellpadding="5"]
    tr:first-child {display: table-row}
  form[name="post"] table.forumline[cellpadding="3"] table[cellpadding="5"]
    tr:nth-child(5) {display: table-row}
  form[name="post"] table.forumline[cellpadding="3"] table[cellpadding="5"]
    tr:last-child {display: table-row}
       
   /* Skrzynka PM */
  
  form[name="privmsg_list"] table.forumline th {display: none}
  form[name="privmsg_list"] table.forumline td {display: block; width: 99%}
  form[name="privmsg_list"] table.forumline td:first-child {text-align: left}
  form[name="privmsg_list"] table.forumline td:last-child {border-bottom: 1px solid lightgray}
  table.bodyline[width="175"] {width: 99%; margin-top: 10px; border: 2px solid gray}
  table.bodyline[width="175"] td {width: 99%}
  
  /* Podglad PM */
  
  form[action*="privmsg.php?folder"] 
    table.forumline td.row2 {min-width: 55px} 
  
  form[action*="privmsg.php?folder"] 
    table[width="90%"][cellpadding="3"][align="center"] {width: 96%}
  
 /* Profil uzytkownika */ 
  
  td.bodyline > table.forumline[cellpadding="3"][align="center"] 
    tr {display: table-row}
  td.bodyline > table.forumline[cellpadding="3"][align="center"] 
   > tbody > tr:nth-child(2) > td[class^="cat"][width="40%"] {display: none}
  td.bodyline > table.forumline[cellpadding="3"][align="center"] 
    th {display: table-cell}
  td.bodyline > table.forumline[cellpadding="3"][align="center"] 
    td {text-align: left; min-width : 124px}
  td.bodyline > table.forumline[cellpadding="3"][align="center"] 
    td:last-child {min-width: 99%}
 
 /* Spis uzytkownikow */  
  
  form[action$="memberlist.php"] table.forumline
    th:nth-child(1) {display: none}
  form[action$="memberlist.php"] table.forumline
    td:nth-child(1) {display: none}
  
    form[action$="memberlist.php"] table.forumline
    th:nth-child(2) {display: none}
  form[action$="memberlist.php"] table.forumline
    td:nth-child(2) {display: none}
  
    form[action$="memberlist.php"] table.forumline
    th:nth-child(4) {display: none}
  form[action$="memberlist.php"] table.forumline
    td:nth-child(4) {display: none}
  
    form[action$="memberlist.php"] table.forumline
    th:last-child {display: none}
  form[action$="memberlist.php"] table.forumline
    td:last-child {display: none}
  
    form[action$="memberlist.php"] table.forumline
    td {text-align: left}
  
  /* FAQ systemowe */
  
    td.bodyline > table.forumline[cellpadding="3"]
     th[class="thHead"] {display: table-cell}
  
  /* Widok wyszukiwarki */
  
   form[action*="search.php"] table.forumline
    td {display: block; text-align: left; max-width: 99%; width: 99%}
  
   /* Wyniki wyszukiwania bez postow */
  
  td.bodyline > table.forumline[cellpadding="4"] 
    > tbody > tr > th.thCornerL[width="4%"] {display: none}
  td.bodyline > table.forumline[cellpadding="4"] 
    > tbody > tr > td.row1[valign="middle"][align="center"]:nth-child(1) {display: none}

  td.bodyline > table.forumline[cellpadding="4"] 
    > tbody > tr > th.thTop:nth-child(4) {display: none}
  td.bodyline > table.forumline[cellpadding="4"] 
    > tbody > tr > td:nth-child(4) {display: none}
  
    td.bodyline > table.forumline[cellpadding="4"] 
    > tbody > tr > th.thTop:nth-child(5) {display: none}
  td.bodyline > table.forumline[cellpadding="4"] 
    > tbody > tr > td:nth-child(5) {display: none}
  
    td.bodyline > table.forumline[cellpadding="4"] 
    > tbody > tr > th.thTop:nth-child(6) {display: none}
  td.bodyline > table.forumline[cellpadding="4"] 
    > tbody > tr > td:nth-child(6) {display: none}
  
   td.bodyline > table.forumline[cellpadding="4"] 
    > tbody > tr > th.thCornerR:nth-child(7) {display: none}
  td.bodyline > table.forumline[cellpadding="4"] 
    > tbody > tr > td:nth-child(7) {display: none}
  
  td.bodyline > table.forumline[cellpadding="4"] 
    > tbody > tr > td.catBottom {display: table-cell; width: 99%}
  
  /* Wyniki wyszukiwania z postami */
  
  td.bodyline > table.forumline[cellpadding="3"]
    th.thCornerL[width="150"] {display: none}
  td.bodyline > table.forumline[cellpadding="3"]
    th.thCornerR:nth-child(2)[width="100%"] {display: none}

  td.bodyline > table.forumline[cellpadding="3"]
    td.catHead[height="28"] {display: block}
  td.bodyline > table.forumline[cellpadding="3"]
    td.row1:nth-child(1)[width="150"][rowspan="2"][valign="top"][align="left"] 
      {display: block; background-color: #ded; border-bottom: 1px solid lightgray; max-height: 50px}
  td.bodyline > table.forumline[cellpadding="3"]
    td.row1:nth-child(2)[valign="top"] {display: block}
  
  td.bodyline > table.forumline[cellpadding="3"]
    td.row1:nth-child(1)[width="150"] br {display: none}
  td.row1:nth-child(1)[width="150"] 
    span.name {display: block; margin-bottom: 4px}
  td.bodyline > table.forumline[cellpadding="3"]
    td.row1:nth-child(1)[width="150"] span.postdetails b:first-child::after {content: ","}
 
  td.bodyline > table.forumline[cellpadding="3"]
    td.row1:nth-child(2)[width="100%"][valign="top"] span.postdetails b:nth-child(2) a::after {content: " >>> "}
  
 /* Szczegoly grupy */ 
  
   form[action*="groupcp.php"]:first-of-type > table.forumline
    td.row1 {width: 90px}  
  
   form[action*="groupcp.php"][name="post"] > table.forumline
    th {word-break: normal !important}
  
  form[action*="groupcp.php"][name="post"] > table.forumline
    th:nth-child(1) {display: none}
  form[action*="groupcp.php"][name="post"] > table.forumline
  td[class^="row"]:nth-child(1) {display: none}
  
  form[action*="groupcp.php"][name="post"] > table.forumline
    th:nth-child(5) {display: none}
  form[action*="groupcp.php"][name="post"] > table.forumline
  td[class^="row"]:nth-child(5) {display: none}
  
  form[action*="groupcp.php"][name="post"] > table.forumline
    th:nth-child(6) {display: none}
  form[action*="groupcp.php"][name="post"] > table.forumline
  td[class^="row"]:nth-child(6) {display: none}
   
  /*** iframy i wstawki ***/
  
    /* iframe SNpoleca */
  
  div.sn td.genmed {max-width: 380px !important;}
  div.sn br {margin-bottom: 8px} 
  
  div.sn td.genmed[width="170px"] {display: block !important; min-width: 380px !important;}
  div.sn td[width="100px"] {display: block !important; min-width: 380px !important; text-align: center}
  div.sn td[width="100px"] > table {min-width: 380px !important; text-align: center}
  div.sn td.genmed:nth-of-type(1) a{display: block !important;}
  div.sn td.genmed[align="left"] a{display: inline !important;}
  
  div.sn select {max-width: 80vw}

  
  /* iframe odpowiadania */
  
  body > table.forumline[cellpadding="3"] 
    th[class^="thCorner"] {display: none}
  body > table.forumline[cellpadding="3"] 
    td[class^="row"] {display: block; width: 99%}
  body > table.forumline[cellpadding="3"] 
    td[width="22%"] {background-color: #ded; border-bottom: 1px solid lightgray}
  
}
